<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISignalsWebService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/signals" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISignalsWebService"
                contract="Signals.ISignalsWebService" name="BasicHttpBinding_ISignalsWebService" />
        </client>
    </system.serviceModel>
</configuration>