<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISignals" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/signals" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISignals" contract="Signals.ISignals"
                name="BasicHttpBinding_ISignals" />
        </client>
    </system.serviceModel>
</configuration>