<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SignalsIntegrationTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISignalsWebService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8080/signals" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ISignalsWebService" contract="WS.ISignalsWebService"
                name="NetTcpBinding_ISignalsWebService" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup><userSettings>
        <SignalsIntegrationTests.Properties.Settings>
            <setting name="SignalsHostExecutablePath" serializeAs="String">
                <value>..\..\..\..\Signals\Hosting\bin\Debug\Hosting.exe</value>
            </setting>
            <setting name="DatabaseMaintenanceToolExecutablePath" serializeAs="String">
                <value>..\..\..\..\Signals\DatabaseMaintenanceTool\bin\Debug\DatabaseMaintenanceTool.exe</value>
            </setting>
            <setting name="InMemoryDatabase" serializeAs="String">
                <value>True</value>
            </setting>
        </SignalsIntegrationTests.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Mapster" publicKeyToken="2f39883af23c29a8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
