<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SignalsIntegrationTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISignalsWebService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/signals" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISignalsWebService"
                contract="WS.ISignalsWebService" name="BasicHttpBinding_ISignalsWebService" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><userSettings>
        <SignalsIntegrationTests.Properties.Settings>
            <setting name="SignalsHostExecutablePath" serializeAs="String">
                <value>..\..\..\..\Signals\Hosting\bin\Debug\Hosting.exe</value>
            </setting>
        </SignalsIntegrationTests.Properties.Settings>
    </userSettings>
</configuration>
